<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="countryNameDiv">
    <input id="countryNameInput" type="text" placeholder="Enter city name">
    <input id="dateInput" type="date">
    <button id="Btn" type="button">Click</button>
</div>

<div id="result">
    <div id="cityInfo">
        <h2><b>City Information</b></h2>
        <br>
        <p id="cityData"></p>
    </div>

    <div id="weatherInfo">
        <h2><b>Weather Information</b></h2>
        <br>
        <p id="weatherData"></p>
    </div>

    <div id="imageInfo">
        <h2><b>Image</b></h2>
        <br>
        <img id="cityImage" src="" alt="City Image" />
    </div>
</div>

</body>
</html>